

<link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/assets/less.css" />


<script type="text/javascript" src="/assets/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/assets/vendor/angular/angular.js"></script>
<script type="text/javascript" src="/assets/vendor/lodash/dist/lodash.js"></script>
<script type="text/javascript" src="/assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/assets/vendor/angular-ui-utils/ui-utils.js"></script>
<script type="text/javascript" src="/assets/vendor/restangular/dist/restangular.js"></script>
<script type="text/javascript" src="/assets/app/app.js"></script>
<script type="text/javascript" src="/assets/app/home/home.js"></script>
<script type="text/javascript" src="/assets/templates.js"></script>



<script src="//localhost:35728/livereload.js"></script>
