extends ../layouts/defaultServer

block content
  section
    p This is a default view that uses Node and Jade to be rendered
    a(href="/articles/angular/home") click here to go to an Angular page
  
